- content_for :styles do
  - stylesheet_link_tag 'homepage/homepage'
-content_for :javascript do
  - javascript_include_tag 'map'

.header
  .h1{class: 'title'} Hey Suren Nihalani
  %button{class: 'login_button'} Login

.content_container 
  #map_canvas
  .scroll_pane
    - @people.each do |person|
      .data_container
        - unless person.nil?
          - person.each do |key, value|  
            .data #{key}:  #{value}
          

.footer
  .footer_links About Us
  .footer_links FAQ
  .footer_links Terms and Conditions
