- content_for :styles do
  - stylesheet_link_tag 'homepage/homepage', 'sign_in_modal'
-content_for :javascript do
  - javascript_include_tag 'homepage'
.page_container
  .content_container
    %a.login_button Sign In    
  #login_modal{class: 'sign_in_modal display_none'}
    %a.close Close
    %h2 Modal Box
    = form_tag '/search', method: :post do
      .form_field
        .email_field_text Email:
        %input{class: 'email_input', placeholder: "xyz@gatech.edu"}
      .form_field
        .password_field_text Password:
        %input{class: 'email_input', placeholder: "****"}
      = submit_tag "SEARCH"

  .catch_phrase_container
    .catch_phrase Moving somewhere new can be scary. 
    .catch_phrase You don't have to do it alone.



