- content_for :styles do
  - stylesheet_link_tag 'homepage/homepage', 'sign_in_modal', 'partials/footer', 'partials/header'
-content_for :javascript do
  - javascript_include_tag 'homepage'

= render partial: 'partials/header'
.page_container
  .content_container
    %a.login_button Sign In
  = render partial: 'partials/login_modal'
    
  .catch_phrase_container
    .catch_phrase Moving somewhere new can be scary. 
    .catch_phrase You don't have to do it alone.

= render partial: 'partials/footer'



