.content_container {
  width: 1020px;
  height: 640px;
  margin: 0 auto;
  background-image: url('/assets/homepage-cover.jpg');
  font-size: 36px;
  color: #FFFFFF;
}

.login_button {
  font-size: 20px;
  float: right;
  margin: 10px 10px;  
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.close {
  float: right;
  text-decoration: none;
  color: red;
  cursor: pointer;
}

.input_field_text {
  font-size: 20px;
  color: #009933;
  float: left;
  margin-right: 50px;
  text-align: center;
}

.text_input {
  margin-left: 10px;
}
.display_none {
  display: none;
}
.display_block {
  display: block;
}

.sign_in_modal {
  position: absolute;
  width: 464px;
  height: 230px;
  margin: -450px auto 0 500px;
  font-family: Arial, Helvetica, sans-serif;
  background: white;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}

.catch_phrase_container {
  margin: -100px auto 0 auto; 
  height: 100px;
  text-align: center;
}
.catch_phrase {
  color: white;
  font-size: 36px;
}