.content_container {
  width: 1020px;
  height: 640px;
  margin: 0 auto;
  background-image: url('/assets/homepage-cover.jpg');
  font-size: 36px;
  color: #FFFFFF;
}

.login_button {
  font-size: 20px;
  font-family: 'Helvetica Neue';
  float: right;
  margin: 10px 10px;  
  color: white;
  text-decoration: none;
  cursor: pointer;
}


.catch_phrase_container {
  margin: -100px auto 0 auto; 
  height: 100px;
  text-align: center;
}
.catch_phrase {
  color: white;
  font-family: 'Helvetica Neue';
  font-size: 36px;
  font-weight: 900px;
}