#login_modal{class: 'sign_in_modal display_none'}
  %a.close Close
  = form_tag '/form', method: :post do
    .form_field
      .login_text Create your new account here using a .edu email
      .input_data
        .field_text Email:
        %input{class: 'input_field', placeholder: "xyz@gatech.edu"}
      .form_field
        .field_text Password:
        %input{class: 'input_field', placeholder: "****"}
      = submit_tag "Begin your search", class: 'search'
