- content_for :styles do
  - stylesheet_link_tag 'form/map', 'partials/header', 'partials/footer'

= render partial: "partials/header", locals: {name: @name}

.content_container
  %p.instructions Select areas you want to live in:
  #map_canvas
  .clear_button Clear Areas
  %a.submit_profile{href: '/results'} Submit Profile

= render partial: 'partials/footer'

:javascript
  var shapes_added_so_far = []
  var clear_all_shapes = function() {
    for(var i = 0; i < shapes_added_so_far.length; i++) {
      var item_to_clear = shapes_added_so_far[i];
      item_to_clear.setMap(null);  
    }
  };
  google.maps.event.addDomListener(
    $('.clear_button')[0], 
    'click', 
    clear_all_shapes);

  function initialize() {
    var mapOptions = {
      center: new google.maps.LatLng(-34.397, 150.644),
      zoom: 8
    };

    var map = new google.maps.Map(document.getElementById('map_canvas'),
      mapOptions);

    var drawingManager = new google.maps.drawing.DrawingManager({
      drawingMode: google.maps.drawing.OverlayType.MARKER,
      drawingControl: true,
      drawingControlOptions: {
        position: google.maps.ControlPosition.TOP_CENTER,
        drawingModes: [
          google.maps.drawing.OverlayType.RECTANGLE
        ]
      },
      rectangleOptions: {
        editable: true
      }
    });

    google.maps.event.addListener(drawingManager, 'overlaycomplete', function(event) {
      if(event.type == google.maps.drawing.OverlayType.RECTANGLE) {
        var shape_added = event.overlay;
        shapes_added_so_far.push(shape_added);
        console.log(shapes_added_so_far);
      }
    });

    drawingManager.setMap(map);
  }

  google.maps.event.addDomListener(window, 'load', initialize);


