- content_for :styles do
  - stylesheet_link_tag 'homepage/results', 'partials/header', 'partials/footer'
-content_for :javascript do
  - javascript_include_tag 'homepage'
= render partial: 'partials/header', locals: {name: @name}


.content_container 
          
= render partial: 'partials/footer'