- content_for :styles do
  - stylesheet_link_tag 'homepage/results', 'partials/header', 'partials/footer'

= render partial: 'partials/header', locals: {name: @name}


.content_container 
          
= render partial: 'partials/footer'