.header {
  width: 100%;
  height: 60px;
  background-color: #009933;
  display: block;

}
.title {
  padding: 8px 0 0 0;
  color: #FFFFFF;
  font-weight: 900px;
  text-decoration: none;
  margin-left: 15px;
  font-size: 40px;
  float: left;
}
.data {
  float: right;
}
.info_tag {
  width: 75px;
  height: 50px;
  font-size: 20px;
  padding: 15px 0 0 0;
  margin-right: 15px;
  color: #FFFFFF;
  font-weight: 900px;
  float: right;
}

  