.content_container {
  width: 1280px;
  margin: 10px auto;
}

.submit_profile {
  width: 200px;
  height: 50px;
  background-color: #009933;
  opacity: 0.8;
  text-align: center;
  font-size: 18px;
  color: #FFFFFF;
  border: 2px solid;
  border-radius: 25px;
  border-box: box-sizing;
  float: right;
  text-decoration: none;
}