.content_container {
  width: 1280px;
  margin: 10px auto;
}
.profile_header {
  width: 250px;
  font-size: 28px;
  color: #009933;
  text-align: center;
  margin: 20px 0 0 20px;
  font-weight: 900px;
  font-family: 'Helvetica Neue Bold', 'Helvetica Neue';
}
.form_container {
  width: 1230px;
  height: 1030px; 
  margin: 40px 30px;
  border: 1px solid;
}
.input_components {
  margin: 50px;
}
.field_text {
  float: left;
  margin-top: 8px;
  margin-left: 73px;
  width: 200px;
  height: 25px;
  color: #484848;
  font-size: 20px;
  font-family: 'Helvetica Neue';
}
.data_point {
  clear: both;
}
.input_field {
  width: 400px;
  height: 25px;
  float: left;
  margin-bottom: 25px;
  margin-left: 30px;
  font-size: 13px;
  text-align: left;
  font-family: 'Helvetica Neue';
}
.hobbies_field {
  width: 400px;
  height: 50px;
  float: left;
  margin-bottom: 25px;
  margin-left: 30px;
  font-size: 13px;
  font-family: 'Helvetica Neue';
  word-wrap: break-word;
  text-align: left;
}
.select_field {
  width: 400px;
  height: 25px;
  font-size: 20px;
  margin-top: 8px;
}
.vacant_room {
  height: 50px;
}
.cancel_button {
  width: 200px;
  height: 50px;
  background-color: #009933;
  opacity: 0.8;
  display: block;
  border-radius: 25px;
  font-family: 'Helvetica Neue';
  box-sizing: border-box;
  padding: 12px 6px 3px;
  float: right;
  font-size: 18px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-weight: 900px;
  word-spacing: 0px;
}
.cancel_text {
  width: 200px;
  height: 50px;
}
.login_button {
  width: 200px;
  height: 50px;
  background-color: #009933;
  opacity: 0.8;
  text-align: center;
  font-size: 18px;
  color: #FFFFFF;
  float: left;
  font-family: 'Helvetica Neue';
  border: 2px solid;
  border-radius: 25px;
  box-sizing: border-box;
  margin: 15px 15px;
  display: block;
  text-decoration: none;
  padding: 10px 2px 6px;
}
.submit_profile {
  float: right;
  width: 200px;
  font-family: 'Helvetica Neue';
  height: 50px;
  background-color: #009933;
  opacity: 0.8;
  text-align: center;
  font-size: 18px;
  font-weight: 900px;
  color: #FFFFFF;
  border: 2px solid;
  border-radius: 25px;
  border-sizing: border-box;
  text-decoration: none;
}