.submit_profile { 
  width: 200px;
  height: 50px;
  background-color: #009933;
  opacity: 0.8;
  text-align: center;
  font-size: 18px;
  color: #FFFFFF;
  font-family: 'Helvetica Neue';
  border: 2px solid;
  border-radius: 15px;
  box-sizing: border-box;
  float: right;
  margin: -65px 20px;
  display: block;
  text-decoration: none;
  padding: 10px 2px 6px;
  clear: both;
  cursor: pointer;
}

#map_canvas {
  width: 800px;
  height: 500px;
  float: left;
}
.clear_button {
  width: 200px;
  height: 50px;
  background-color: #009933;
  opacity: 0.8;
  text-align: center;
  font-size: 18px;
  color: #FFFFFF;
  float: left;
  font-family: 'Helvetica Neue';
  border: 2px solid;
  border-radius: 15px;
  box-sizing: border-box;
  margin: 0 15 px;
  display: block;
  text-decoration: none;
  padding: 10px 2px 6px;
  cursor: pointer;
}
.instructions {
  color: #009933;
  font-weight: 900px;
  font-family: 'Helvetica Neue';
  font-size: 20px;
  width: 800px;
  text-align: center;
}