.close {
  float: right;
  text-decoration: none;
  color: #009933;
  cursor: pointer;
  margin: 5px 5px 0 0;
}

.field_text {
  float: left;
  margin-top: 8px;
  margin-left: 73px;
  width: 82px;
  height: 25px;
  color: #009933;
  font-size: 20px;
}

.display_none {
  display: none;
}
.display_block {
  display: block;
}
.login_text {
  text-align: center;
  color: #009933;
  margin: 27px 0 0 0;
}
.sign_in_modal {
  position: absolute;
  width: 475px;
  height: 240px;
  margin: -350px auto 0 500px;
  font-family: Arial, Helvetica, sans-serif;
  background: white;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  border: 2px solid;
  border-radius: 15px;
  box-sizing: border-box;
}
.input_data {
  margin-top: 25px;
}
.input_field {
  width: 200px;
  height: 25px;
  float: left;
  margin-bottom: 25px;
  margin-left: 30px;
  font-size: 13px;
  text-align: left;
}

.search {
  width: 200px;
  height: 37px;
  background-color: #009933;
  opacity: 0.8;
  text-align: center;
  margin-left: 133px;
  font-size: 18px;
  color: #FFFFFF;
  border: 2px solid;
  border-radius: 15px;
  border-box: box-sizing;
  cursor: pointer;
}